:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.4;
}

body {
  margin: 0;
}

button, input, select, textarea {
  font: inherit;
}
